{% extends "back_form_layout.twig" %}

{% set title = 'Modifier un article' %}

{% block title %} {{title}} {% endblock %}

{% block inner_title_breadcrumb %} {{title}} {% endblock %}

{% block inner_title %} Modification : {{ post.postTitle }} {% endblock %}


{% block inner_content %}	

	<div style="padding : 20px">
		<form method="post" action="editpost?id={{ post.idPost }}&submit=editpost">
		  <div class="form-group">
		    <label for="post-title">Titre</label>
		    <input type="text" class="form-control" id="postTitle" name="postTitle" aria-describedby="post-title" value="{{ post.postTitle }}">
		  </div>

		    <div class="form-group">
		    	 <label for="post-author">Auteur</label>
			    <select type="select" class="form-control" id="form-control" name="idPerson" aria-describedby="post-Author">
			    	{% for user in users %}
				    	{% if user.personRole == 'admin' %}
				    		{% if user.idPerson == post.idPerson %}
					    		<option value="{{user.idPerson}}" selected>{{user.personPseudo}} (auteur d'origine)</option>
					    	{% elseif user.idPerson != post.idPerson %}
					    		<option value="{{user.idPerson}}">{{user.personPseudo}}</option>
				    		{% endif %}
				    	{% endif %}
				    {% endfor %}
			   	</select>
		  	</div>

		    <div class="form-group">
			    <label for="post-chapo">Chapô</label>
			    <input type="text" class="form-control" id="postChapo" name="postChapo" aria-describedby="post-chapô" value="{{ post.postChapo }}">
			    <small id="chapoHelp" class="form-text text-muted">Texte court qui résume votre article.</small>
		  	</div>

		    <div class="form-group">
			    <label for="post-content">Texte</label>
			    <textarea type="text" class="form-control" id="postContent" name="postContent" aria-describedby="post-chapô">{{ post.postContent }}</textarea>
		  	</div>

		  	<div class="btn-group btn-group-toggle" data-toggle="buttons">
			  <label class="btn btn-secondary active">
			    <input type="radio" name="postStatus" value="1" id="published" autocomplete="off" checked> Publier
			  </label>
			  <label class="btn btn-secondary">
			    <input type="radio" name="postStatus" value="0" id="depublished" autocomplete="off"> Dépublier
			  </label>
			</div>


		  <button type="submit" class="btn btn-primary" style="display : block; margin-top : 50px;">Modifier</button>
		  <input type="hidden" name="token" id="token" value="{{ session.token }}" />
		</form>

	</div>

{% endblock %}
